:root {
    --mainColor: gold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    background-color: #333;
}

.column-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.column-two {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 50vw;
}

.link {
    position: relative;
    font-size: 3.6rem;
    margin: 0.5em;
    text-decoration: none;
    color: white;
}

.link,
.link::after,
.link::before {
    transition: .3s;
}


/* LINK 1 */

.link-one:hover {
    color: var(--mainColor);
}


/* LINK 2 */

.link-two {
    border-bottom: 3px solid transparent;
}

.link-two:hover {
    border-bottom-color: var(--mainColor);
    color: var(--mainColor);
}


/* LINK 3 */

.link-three {
    border-bottom: 3px solid transparent;
}

.link-three:hover {
    border-bottom-color: var(--mainColor);
}


/* LINK 4 */

.link-four::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    background-color: var(--mainColor);
}

.link-four:hover::before {
    transform: scaleX(1);
}


/* LINK 5 */

.link-five::before,
.link-five::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 50%;
    transform: scaleX(0);
    background-color: var(--mainColor);
    transition: transform .3s;
}

.link-five::before {
    left: 0;
    transform-origin: left;
}

.link-five::after {
    right: 0;
    transform-origin: right;
}

.link-five:hover::before {
    transform: scaleX(1);
    transform-origin: right;
}

.link-five:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


/* LINK 6 */

.link-six::before,
.link-six::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 50%;
    transform: scaleX(0);
    background-color: var(--mainColor);
    transition: transform .3s;
}

.link-six::before {
    left: 0;
    transform-origin: right;
}

.link-six::after {
    right: 0;
    transform-origin: left;
}

.link-six:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.link-six:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}


/* LINK 7 */

.link-seven::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    height: 3px;
    background-color: var(--mainColor);
}

.link-seven:hover::before {
    transform: scaleX(1);
}


/* LINK 8 */

.link-eight::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    height: 3px;
    background-color: var(--mainColor);
    transition: transform .3s ease-in;
}

.link-eight:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}


/* LINK 9 */

.link-nine {
    padding: 10px 20px;
}

.link-nine:hover {
    background-color: white;
    color: #333;
}