:root {
    --bgColor: #333;
    --fontColor: white;
    --mainColorFirst: gold;
    --mainColorSecond: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    background-color: var(--bgColor);
    color: white;
    font-family: sans-serif;
}


/* INPUTS */

.inputs {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    background-color: #333;
    padding: 2em;
}

.inputs label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    width: 20%;
    min-width: 200px;
    padding-top: 1em;
    text-transform: uppercase;
}

.inputs input {
    margin: 0.5em;
    width: 100px;
    font-size: 1.6rem;
    width: 100%;
}

button {
    width: 100%;
    font-size: 1.6rem;
    padding: .25em .5em;
}


/* BOXES BOX */

.boxes {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
}


/* LINK */

.link {
    position: relative;
    font-size: 3.6rem;
    margin: 0.5em;
    text-decoration: none;
    color: var(--fontColor);
}

.link,
.link::after,
.link::before {
    transition: .3s;
}


/* LINK 1 */

.link-one:hover {
    color: var(--mainColorFirst);
}


/* LINK 2 */

.link-two {
    border-bottom: 3px solid transparent;
}

.link-two:hover {
    border-bottom-color: var(--mainColorFirst);
    color: var(--mainColorFirst);
}


/* LINK 3 */

.link-three {
    border-bottom: 3px solid transparent;
}

.link-three:hover {
    border-bottom-color: var(--mainColorFirst);
}


/* LINK 4 */

.link-four::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    background-color: var(--mainColorFirst);
}

.link-four:hover::before {
    transform: scaleX(1);
}


/* LINK 5 */

.link-five::before,
.link-five::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 50%;
    transform: scaleX(0);
    background-color: var(--mainColorFirst);
    transition: transform .3s;
}

.link-five::before {
    left: 0;
    transform-origin: left;
}

.link-five::after {
    right: 0;
    transform-origin: right;
}

.link-five:hover::before {
    transform: scaleX(1);
    transform-origin: right;
}

.link-five:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


/* LINK 6 */

.link-six::before,
.link-six::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 50%;
    transform: scaleX(0);
    background-color: var(--mainColorFirst);
    transition: transform .3s;
}

.link-six::before {
    left: 0;
    transform-origin: right;
}

.link-six::after {
    right: 0;
    transform-origin: left;
}

.link-six:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.link-six:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}


/* LINK 7 */

.link-seven::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    height: 3px;
    background-color: var(--mainColorFirst);
}

.link-seven:hover::before {
    transform: scaleX(1);
}


/* LINK 8 */

.link-eight::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    height: 3px;
    background-color: var(--mainColorFirst);
    transition: transform .3s ease-in;
}

.link-eight:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}


/* LINK 9 */

.link-nine {
    padding: 10px 20px;
}

.link-nine:hover {
    background-color: var(--mainColorSecond);
    color: var(--bgColor);
}


/* LINK 10 */

.link-ten {
    padding: 10px 20px;
    z-index: 0
}

.link-ten::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleY(0);
    background-color: var(--mainColorSecond);
    z-index: -1;
}

.link-ten:hover::before {
    transform: scaleY(1);
}

.link-ten:hover {
    color: var(--bgColor);
}


/* LINK 11 */

.link-eleven {
    padding: 10px 20px;
    z-index: 0
}

.link-eleven::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: var(--mainColorSecond);
    z-index: -1;
}

.link-eleven:hover::before {
    transform: scaleY(1);
}

.link-eleven:hover {
    color: var(--bgColor);
}


/* LINK 12 */

.link-twelve {
    padding: 10px 20px;
    z-index: 0
}

.link-twelve::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleY(0);
    transform-origin: top;
    background-color: var(--mainColorSecond);
    z-index: -1;
    transition: transform .3s;
}

.link-twelve:hover::before {
    transform-origin: bottom;
    transform: scaleY(1);
}

.link-twelve:hover {
    color: var(--bgColor);
}


/* LINK 13 */

.link-thirteen {
    padding: 10px 20px;
    z-index: 0
}

.link-thirteen::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    background-color: var(--mainColorSecond);
    z-index: -1;
}

.link-thirteen:hover::before {
    transform: scaleX(1);
}

.link-thirteen:hover {
    color: var(--bgColor);
}


/* LINK 14 */

.link-fourteen {
    padding: 10px 20px;
    z-index: 0
}

.link-fourteen::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background-color: var(--mainColorSecond);
    z-index: -1;
}

.link-fourteen:hover::before {
    transform: scaleX(1);
}

.link-fourteen:hover {
    color: var(--bgColor);
}


/* LINK 15 */

.link-fifteen {
    padding: 10px 20px;
    z-index: 0
}

.link-fifteen::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    background-color: var(--mainColorSecond);
    z-index: -1;
    transition: transform .3s;
}

.link-fifteen:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.link-fifteen:hover {
    color: var(--bgColor);
}